package-lock.json
*.orig
*.swp
.idea
.DS_Store
._.DS_Store
.c9revisions
.gradle
.vscode
node_modules
/utils/node_modules
npm-debug.log
server.js.log
*~
docs
/.vscode/launch.json
/.vscode/settings.json
/.settings/settings.json
.payloads
Dockerfile.prd
Dockerfile.dep
build.json
/Temp
/obj
/Library/metadata
/Library/cache
/Library/ShaderCache
/Library/ScriptAssemblies
/Library/*.log
